<div [ngClass]="{ card: true, addtocart: isAddedToCart }">
  <a [routerLink]="['/productdetails', product.id]">
    <img
      [src]="product.imageurl"
      class="card-img-top"
      alt=""
      height="200px"
      width="100px"
    />
  </a>
  <div class="card-body">
    <h5 class="card-title">{{ product.title }}</h5>
    <p class="card-text">Price : {{ product.price }}</p>
    <p class="card-text outstock" *ngIf="product.quantity == 0; else elseBlock">
      Out of stock
    </p>
    <ng-template #elseBlock
      ><p class="card-text instock">In stock</p></ng-template
    >
    <p class="card-text"></p>
    Add to cart :
    <input
      type="checkbox"
      [(ngModel)]="isAddedToCart"
      (ngModelChange)="addedToCart(isAddedToCart)"
    />
    <p class="card-text">
      <app-rating [rating]="product.rating"></app-rating>
    </p>
    <p class="btn btn-primary" (click)="changeLikes()">
      <i class="fa-regular fa-thumbs-up"></i> {{ product.likes }}
    </p>
    <p class="btn btn-danger" (click)="deleteProduct(product.id)">Delete</p>
  </div>
</div>
