<div class="d-flex justify-content-center align-items mt-3">
  <form
    ngNativeValidate
    [formGroup]="newProductForm"
    (ngSubmit)="AddNewProduct()"
  >
    <p>
      <label class="form-label">
        Id :
        <input
          type="number"
          class="form-control"
          [(ngModel)]="newProduct.id"
          required
          name="pid"
        />
      </label>
    </p>
    <p
      style="color: red"
      *ngIf="
        newProductForm.controls['title'].invalid &&
        newProductForm.controls['title'].dirty &&
        newProductForm.controls['title'].value == ''
      "
    >
      The product should not be empty
    </p>
    <p
      style="color: red"
      *ngIf="
        newProductForm.controls['title'].hasError('restrictedName')
      "
    >
      Angular cannot be use
    </p>
    <p>
      <label class="form-label">
        Title :
        <input
          type="text"
          class="form-control"
          name="ptitle"
          formControlName="title"
        />
      </label>
    </p>
    <p>
      <label class="form-label">
        Price :
        <input
          type="number"
          class="form-control"
          name="pprice"
          formControlName="price"
        />
      </label>
    </p>
    <p>
      <label class="form-label">
        Rating :
        <input
          type="number"
          min="1"
          max="5"
          class="form-control"
          name="prating"
          formControlName="rating"
        />
      </label>
    </p>
    <p>
      <label class="form-label">
        Likes :
        <input
          type="number"
          class="form-control"
          name="plikes"
          formControlName="likes"
        />
      </label>
    </p>
    <p>
      <label class="form-label">
        Image Url :
        <input
          type="text"
          class="form-control"
          name="pimageurl"
          formControlName="imageurl"
        />
      </label>
    </p>
    <p>
      <button class="btn btn-success" [disabled]="!newProductForm.valid">
        Add New Product
      </button>
    </p>
  </form>
</div>
